<footer class="footer">
	<div class="footer__copyright">
		<img
			class="footer__copyright--icon"
			src="./assets/images/icon-NaN-monster.png"
			alt="Logo de NaN · Not a Name"
			title="NaN · Not a Name"
		/>
		<div class="footer__copyright--text">
			<p>NaN · Not a Name &#64;2020</p>
			<p>Awesome profile-cards</p>
		</div>
	</div>
	<div>
		<a href="https://adalab.es/" title="Ir a Adalab">
			<img
				class="footer__logo"
				src="./assets/images/logo-adalab.png"
				alt="Logo Adalab"
			/>
		</a>
	</div>
</footer>
