<li class="item">
  <div class="js-header1 item__header">
    <div class="item__header--title">
      <i class="far fa-object-ungroup item__header--icon"></i>
      <h2>Diseña</h2>
    </div>
    <i class="fas fa-angle-down js-arrow item__header--arrow"></i>
  </div>
  <div class="js-content1 collapsed item__content colours">
    <h3 class="colours__title">Colores</h3>
    <form class="colours__options">
      <label for="option1" class="option-flex option1">
        <input
          id="option1"
          type="radio"
          value="1"
          name="colours"
          class="js-option1"
          checked
        />
        <div class="option1__colour1"></div>
        <div class="option1__colour2"></div>
        <div class="option1__colour3"></div>
      </label>
      <label for="option2" class="option-flex option2">
        <input
          id="option2"
          type="radio"
          value="2"
          name="colours"
          class="js-option2"
        />
        <div class="option2__colour1"></div>
        <div class="option2__colour2"></div>
        <div class="option2__colour3"></div>
      </label>
      <label for="option3" class="option-flex option3">
        <input
          id="option3"
          type="radio"
          value="3"
          name="colours"
          class="js-option3"
        />
        <div class="option3__colour1"></div>
        <div class="option3__colour2"></div>
        <div class="option3__colour3"></div>
      </label>
    </form>
  </div>
</li>
