<li class="item">
  <div class="js-header3 item__header">
    <div class="item__header--title">
      <i class="fas fa-share-alt item__header--icon"></i>
      <h2>Comparte</h2>
    </div>
    <i class="fas fa-angle-down js-arrow3"></i>
  </div>
  <form class="js-content3 collapsed item__content share js-share" action="">
    <i class="far fa-id-card share__icon"></i>
    <input class="js-submit share__text" type="button" value="Crear Tarjeta" />
  </form>
</li>

<div class="share-url js-share-url hidden">
  <div class="share-url__container">
    <h3 class="share-url__title">La tarjeta ha sido creada:</h3>
    <a class="js-response share-url__link" target="_blank" href="#"></a>
    <!-- <a class="share-url__link--share" target="_blank" href="https://twitter.com/Adalab_Digital"
      ><i class="fab fa-twitter share-url__link--twitter"></i>Compartir en
      twitter</a
    > -->
  </div>
</div>
