<li class="item">
	<div class="item__header">
		<div class="item__header--title">
			<i class="far fa-object-ungroup item__header--icon"></i>
			<h2>Comparte</h2>
		</div>
		<i class="fas fa-angle-down item__header--arrow"></i>
	</div>
	<form class="item__content share inactive" action="">
		<i class="far fa-id-card share__icon"></i>
		<input class="share__text" type="submit" value="Crear Tarjeta" />
	</form>
</li>

<div class="hidden">
	<div class="hidden__container">
		<h3 class="hidden__title">La tarjeta ha sido creada:</h3>
		<a class="hidden__link" href="#">www.google.es</a>
		<a class="hidden__link--share" href="#"
			><i class="fab fa-twitter hidden__link--twitter"></i>Compartir en
			twitter</a
		>
	</div>
</div>
