<li class="forms__list--item">
  <div class="forms__list--share">
    <i class="fas fa-share-alt forms__list--icon"></i>
    <h2>Comparte</h2>
    <span class="">^</span>
  </div>
  <form class="forms__button" action="">
    <i class="far fa-id-card forms__button--icon"></i>
    <input class="forms__button--text" type="submit" value="Crear Tarjeta" />
  </form>
  <div class="hidden">
    <h3 class="hidden__title">La tarjeta ha sido creada:</h3>
    <a class="hidden__link" href="#"></a>
    <a class="hidden__link--share" href="#"
      ><i class="fab fa-twitter forms__link--twitter"></i>Compartir en
      twitter</a
    >
  </div>
</li>
