<li class="forms__list--item">
  <div class="design">
    <i class="far fa-object-ungroup"></i>
    <h2>Diseña</h2>
    <i class="far fa-angle-down"></i>
  </div>
  <div class="colours">
    <h3 class="colours__title">Colores</h3>
    <form class="colours__options">
      <label for="option1" class="option1">
        <input
          id="option1"
          type="radio"
          value="option1"
          name="colours"
        />
        <div class="option1__colour1"></div>
        <div class="option1__colour2"></div>
        <div class="option1__colour3"></div>
      </label>
      <label for="option2" class="option2">
        <input
          id="option2"
          type="radio"
          value="option2"
          name="colours"
        />
        <div class="option2__colour1"></div>
        <div class="option2__colour2"></div>
        <div class="option2__colour3"></div>
      </label>
      <label for="option3" class="option3">
        <input
          id="option3"
          type="radio"
          value="option3"
          name="colours"
        />
        <div class="option3__colour1"></div>
        <div class="option3__colour2"></div>
        <div class="option3__colour3"></div>
      </label>
    </form>
  </div>
</li>
