<li class="forms__list--item">
  <div class="forms__list--header">
    <div class="forms__list--title">
      <i
        class="far fa-object-ungroup forms__list--icon"
      ></i>
      <h2>Rellena</h2>
    </div>
    <i class="fas fa-angle-down arrow"></i>
  </div>
  <div>
    <form
      class="forms__list--details"
      action="#"
      method="POST"
    >
      <label for="full-name"
        >Nombre completo</label
      >
      <input
        class="box__full-name"
        id="full-name"
        type="text"
        placeholder="Ej: Sally Jill"
        name="full-name"
      />
      <label for="job">Puesto</label>
      <input
        class="box__full-name"
        id="job"
        type="text"
        placeholder="Ej: Front-end unicorn"
        name="job"
      />

      <!-- // modificar el nombre del botón "añadir imagen" -->

      <label for="photo">Imagen de perfil</label>
      <include
        src="./image-components.html"
      ></include>

      <label for="email">Email</label>
      <input
        class="box__full-name"
        id="email"
        type="email"
        placeholder="Ej: sally-hill@gmail.com"
        name="email"
      />
      <label for="phone">Teléfono</label>
      <input
        class="box__full-name"
        id="phone"
        type="tel"
        placeholder="Ej: 555-55-55-55"
        name="phone"
      />
      <label for="linkedin">Linkedin</label>
      <input
        class="box__full-name"
        id="linkedin"
        type="text"
        placeholder="Ej: linkedin.com/in/sally-hill"
        name="linkedin"
      />
      <label for="github">Github</label>
      <input
        class="box__full-name"
        id="github"
        type="text"
        placeholder="Ej: @sally-hill"
        name="github"
      />
    </form>
  </div>
</li>
