<li class="item">
  <div class="js-header1 item__header">
    <div class="item__header--title">
      <i class="far fa-object-ungroup item__header--icon"></i>
      <h2>Diseña</h2>
    </div>
    <i class="fas fa-angle-down js-arrow1"></i>
  </div>
  <div class="js-content1 collapsed item__content colours">
    <h3 class="colours__title">Colores</h3>
    <form class="colours__palettes">
      <label for="palette1" class="palette-flex palette1">
        <input
          id="palette1"
          type="radio"
          value="1"
          name="colours"
          class="js-option1"
          checked
        />
        <div class="palette1__colour1 colour-box"></div>
        <div class="palette1__colour2 colour-box"></div>
        <div class="palette1__colour3 colour-box"></div>
      </label>
      <label for="palette2" class="palette-flex palette2">
        <input
          id="palette2"
          type="radio"
          value="2"
          name="colours"
          class="js-option2"
        />
        <div class="palette2__colour1 colour-box"></div>
        <div class="palette2__colour2 colour-box"></div>
        <div class="palette2__colour3 colour-box"></div>
      </label>
      <label for="palette3" class="palette-flex palette3">
        <input
          id="palette3"
          type="radio"
          value="3"
          name="colours"
          class="js-option3"
        />
        <div class="palette3__colour1 colour-box"></div>
        <div class="palette3__colour2 colour-box"></div>
        <div class="palette3__colour3 colour-box"></div>
      </label>
    </form>
  </div>
</li>
