<section class="preview">
	<div class="preview__container">
		<button class="preview__reset js-reset">
			<i class="far fa-trash-alt"></i>Reset
		</button>
		<div class="preview__card">
			<div class="preview__card--text">
				<div class="preview__card--stick js-stick stick-border-cold">
					<h1
						class="js-preview-text js-preview-name preview__card--name name-cold"
					></h1>
					<h2 class="js-preview-text preview__card--job"></h2>
				</div>
			</div>
			<div
				class="preview__img-container profile__image js__profile-image"
			></div>
			<ul class="preview__contact">
				<li>
					<a class="js-preview-href icon-cold preview__contact--link" href="#" target="_blank">
						<i class="fas fa-mobile-alt"></i>
					</a>
				</li>
				<li>
					<a class="js-preview-href icon-cold preview__contact--link" href="#" target="_blank">
						<i class="far fa-envelope"></i>
					</a>
				</li>
				<li>
					<a class="js-preview-href icon-cold preview__contact--link" href="#" target="_blank">
						<i class="fab fa-linkedin-in"></i>
					</a>
				</li>
				<li>
					<a class="js-preview-href icon-cold preview__contact--link" href="#" target="_blank">
						<i class="fab fa-github-alt"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
