.landing {
  height: 100vh;
  background-color: $color-bg-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;

  &__title {
    width: 80%;
    display: block;

    @media all and (min-width: 768px) {
      width: 54.5%;
    }
  }

  &__claim {
    width: 80%;

    @media all and (min-width: 768px) {
      width: 42%;
    }

    &--title {
      font-family: $font-landing;
      color: $color-main;
      font-size: 1.2rem;

      @media all and (min-width: 768px) {
        font-size: 1.5rem;
      }
    }

    &--text {
      font-family: $font-main;
      color: $color-second;
      font-size: 0.8rem;

      @media all and (min-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  &__options {
    border-radius: 4px;
    border: solid 0.1rem rgba(225, 115, 52, 0.21);
    width: 85%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin-top: 17.8px;

    @media all and (min-width: 768px) {
      width: 42%;
      border-width: 0.13rem;
    }

    &--item {
      display: flex;
      flex-direction: column;
      i {
        color: $color-main;
        font-size: 1.4rem;

        @media all and (min-width: 768px) {
          font-size: 1.75rem;
        }
      }
      span {
        font-family: $font-main;
        font-size: 0.8rem;
        color: $color-text;

        @media all and (min-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
  &__link {
    background-color: $color-cuaternary;
    padding: 10px 0;
    border-radius: 30px;
    margin: 35px auto 30px;
    width: 129px;
    font-family: $font-main;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}
