.footer {
	width: 100%;
	background-color: $color-base;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 18px 0;
	border-top: 1px solid #d8d8d8;

	@media all and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 12px 40px;
	}
	&__copyright {
    display: flex;
    flex-direction: row;
    opacity: 0.6;
		&--icon {
      width: 36px;
      height: 36px;
      margin-right: 15px;
		}
		&--text {
			color: $color-text-footer;
			font-family: $font-main;
			font-size: 14px;
			line-height: 20px;
      display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;

			@media all and (min-width: 768px) {
				padding-bottom: 0px;
			}
		}
	}

	&__logo {
		width: 103px;
		padding-top: 12px;
	}
}
