.forms__list {
  font-size: 18px;
  font-family: $font-main;
  color: $color-text;
  padding: 17px 20px 30px 20px;
}
.forms__list--item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: #d8d8d8 solid 1px;
  h2 {
    font-family: $font-main;
    font-size: 18px;
    color: $color-text;
  }
}
.arrow {
  font-size: 18px;
  color: $color-text;
}
.forms__list--icon {
  color: $color-main;
  font-size: 18px;
  margin-right: 10px;
}

.forms__list--header {
  font-family: $font-main;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}
.forms__list--title {
  display: flex;
  align-items: center;
}

.forms__list--content {
  margin-bottom: 30px;
  margin-top: 20px;

} 

.colours {
  display: flex;
  margin-left: 19px;
  text-transform: uppercase;
}
.colours__title {
  width: 50%;
  font-size: 14px;
}

.colours__options {
  width: 50%;
}
.forms__list--fill {
  display: flex;
  flex-direction: row;
}
.forms__list--details {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  font-size: 14px;
  color: $color-second;
  line-height: 20px;
}
.box__full-name {
  border: 1px solid $color-third;
  height: 30px;
  margin: 7px 0 20px 0;
  &:last-child {
    margin-bottom: 0;
  }
  &::placeholder {
    color: #c5c5c5;
    padding-left: 9px;
  }
}


/* COMIENZO SECCIÓN COMPARTE */

/* .forms__list--share {
} */

.forms__button {
  width: 199px;
  height: 50px;
  background-color: $color-main;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.forms__button--icon {
  color: $color-base;
  font-size: 22px;
  margin-right: 9px;
}
.forms__button--text {
  font-family: $font-main;
  color: $color-base;
  font-size: 18px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

/* COMIENZO SECCIÓN HIDDEN */

/* .inactive {
  background-color: #d5d5d5;
}
.hidden {
  display: none;
} */

.hidden__link--share {
  width: 181px;
  padding: 6px 0;
  display: flex;
  justify-content: center;
  background-color: #00a0f5;
  font-size: 14px;
  color: $color-base;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.forms__link--twitter {
  font-size: 18px;
  margin-right: 9.5px;
}
