.preview {
	width: 100vw;
	height: 460px;
	background-image: url(../images/bg-NaN-monster.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	@media all and (min-width: 768px) {
		width: calc(100% - 400px);
		height: calc(100vh - 232px);
		border-radius: 6px;
		margin-left: 10px;
	}
	@media all and (min-width: 1024px) {
		height: 100vh;
		background-image: url(../images/bg-eyes-NaN-monster.jpg);
	}

	a {
		color: $color-second;
	}

	&__container {
		width: 240px;
		@media all and (min-width: 768px) {
			margin: 0 45px;
		}
	}

	&__reset {
		width: 75px;
		height: 30px;
		background: $color-main;
		border-radius: 15px;
		border: solid 1px $color-base;
		outline: none;
		color: $color-bg-main;
		font-family: $font-main;
		font-size: 12px;
		line-height: 1.67;
		text-transform: uppercase;
		margin-bottom: 20px;
		&:hover {
			cursor: pointer;
			font-weight: bolder;
			font-size: 13px;
			background-color: #f3432f;
			color: $color-bg-main;
		}
	}
	&__card {
		height: 330px;
		background: $color-base;
		&--text {
			padding: 23px 0 10px 0;
		}
		&--stick {
			height: 44px;
			font-family: $font-preview;
			line-height: 20px;
			padding-left: 15px;
			display: flex;
			flex-direction: column;
		}
		.stick-border-cold {
			border-left: 5px solid $color-cold-two;
		}
		.stick-border-warm {
			border-left: 5px solid $color-warm-two;
		}
		.stick-border-mild {
			border-left: 5px solid $color-mild-two;
		}
		&--name {
			color: $color-second;
			text-transform: capitalize;
			font-size: 18px;
			font-weight: 800;
		}
		.name-cold {
			color: $color-cold-one;
		}
		.name-warm {
			color: $color-warm-one;
		}
		.name-mild {
			color: $color-mild-one;
		}

		&--job {
			color: $color-text;
			padding-top: 4px;
			font-size: 16px;
		}
	}
	&__img-container {
		height: 200px;
		background-image: url(../images/preview-default-NaN-team-monsters.jpg);
	}
	&__contact {
		list-style: none;
		display: flex;
		justify-content: space-around;
		padding: 10px 60px 12px 20px;

		&--link {
			width: 32px;
			height: 32px;
			border-radius: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
		}
		.icon-cold {
			border: 2px solid $color-cold-three;
			color: $color-cold-one;
		}
		.icon-warm {
			border: 2px solid $color-warm-three;
			color: $color-warm-one;
		}
		.icon-mild {
			border: 2px solid $color-mild-three;
			color: $color-mild-one;
		}
	}
}
.fa-trash-alt {
	padding-right: 8px;
}
